<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Candidate Exercise">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Candidate Exercise</title>
  </head>

  <script>
  async function fetchData() {
      console.log("Fetching data");
    const endpoint = 'http://localhost:3001/media?';  
    const queryParams = new URLSearchParams({
      year: '1981',  
      genre: 'Action', 
      // searchText: 'example', 
      type: 'movie',  
      limit: 10,  
      offset: 0  
    });

    try {
      console.log("Try")
      const response = await fetch(endpoint + queryParams, {
        method: 'GET',
      });

      console.log("response", response)
      
      if (!response.ok) {
        throw new Error(`Failed to fetch data. Status: ${response.status}`);
      }

      const data = await response.json();
      console.log('Fetched Data:', data);
    } catch (error) {
      console.error('Error:', error.message);
    }
  }

  // Call the fetch function when the page loads
  fetchData();
</script>

  <body>
    <div class="exercise-header">
      <h1>Exercise</h1>
    </div>

    <div>[Exercise Here]</div>

    <footer>
      <script type="module" src="../js/index.js"></script>
    </footer>
  </body>
</html>
